.react-datepicker__month-container {
  width: 100% !important;
}

.react-datepicker__month-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px;
}

.react-datepicker__month-wrapper div {
  height: 45px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 0.875rem !important;
  font-family: "NotoSansKR500" !important;
}
