@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

body {
  margin: 0;
  font-family: "Jeju Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease, visibility 0.7s ease, transform 0.7s ease;
}

.modal-container.active {
  opacity: 1;
  visibility: visible;
}
