@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jeju Gothic";
  src: url("./assets/font/JejuGothicOTF.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Jeju Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease, visibility 0.7s ease, transform 0.7s ease;
}

.modal-container.active {
  opacity: 1;
  visibility: visible;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.noScrollBar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.slider {
  -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #a4a4a4;
  cursor: pointer;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
